<div class='success-msg'>
  <h1>
    <%= "#{@applicant.name}, thank you for applying for our apprenticeship program!" %>
    <br/>
    <br/>
    <br/>
    Visit our <a href='www.abc-consulting.com'>website</a> to learn more about our company!
  </h1>
</div>
