<div class='field_answer_card_box'>
  <span class='delete-field-btn'>x</span>
  <div class='underlined js-field'>
    <%= label_tag "questions[#{index}]", 'Q:' %>
    <%= text_field("questions[#{index}]", :name, value: field.name) %>
  </div>
  <div class='answer-list'>
    <% if field.has_choices? %>
      <% field.choices.each_with_index do |choice, i| %>
        <%= render 'answer_card', {choice: choice, index: index, choice_index: i} %>
      <% end %>
    <% end %>
  </div>
  <div class='add-answer-link'>
      <span data-field-index=<%= index %>> Add an answer </span>
  </div>
</div>
